.card {
  margin: 5px;
  width: 20rem;
}
.body {
  margin: 20px;
  width: 18rem;
  margin-top: 10px !important;
  padding-top: 10px !important;
}

.element {
  border: 6px solid rgba(100, 100, 100, 1);
  padding: 6px;
  border-radius: 29px;
  background-color: rgb(233, 231, 231);
  font-size: 85%;
  opacity: 0.8;
}

.element:hover {
  cursor: pointer;
  font-size: 87%;
  transform-origin: center;
  border: 6px solid rgb(185, 27, 27);
  background-color: rgb(246, 178, 178);
  opacity: 1.0;
  /* padding: 10px; */
  /* border-radius: 29px; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */

/* .background {
    height: 100vh;
    /* background: url("./pascal-meier-6vi5hk97XGo-unsplash.jpg"); */
   /*  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    align-items: center;
    align-content: center;
    margin-bottom: 250px;
    height: 20vh;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 350%;
    color: #f9f3f4;
}

.title button {
  font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 100%;
    border: solid 1px white;
    border-radius:20px;
    background:none;
}

.title button:hover {
  cursor: pointer;
  font-size: 115%;
  transform-origin: center;
  text-shadow: 0 0 5px #fff,
};

.border {
    position: absolute;
    left: 0;
    background: currentColor;
  }
   
.border-top,
  .menu .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
  }
   
.border-left,
.border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
  }
   
.border-top,
.border-left,
.border-right {
    top: 0;
  }
   
.border-bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
   
.border-top {
    transform-origin: top left;
  }
   
.border-left {
    transform-origin: bottom left;
  }
   
.border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  } */ 