.card {
  margin: 5px;
  width: 20rem;
}
.body {
  margin: 20px;
  width: 18rem;
  margin-top: 10px !important;
  padding-top: 10px !important;
}

.element {
  border: 6px solid rgba(100, 100, 100, 1);
  padding: 6px;
  border-radius: 29px;
  background-color: rgb(233, 231, 231);
  font-size: 85%;
  opacity: 0.8;
}

.element:hover {
  cursor: pointer;
  font-size: 87%;
  transform-origin: center;
  border: 6px solid rgb(185, 27, 27);
  background-color: rgb(246, 178, 178);
  opacity: 1.0;
}
