.error {
  font-size: 100%;
  font-style: italic;
  font-weight: bold;
  color: red;
}

form textarea {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

form input {
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

form select {
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

form label {
  border: 3px solid rgba(100, 100, 100, 1);
  padding: 6px;
  border-radius: 9px;
  background-color: rgb(233, 231, 231);
  font-size: 85%;
  opacity: 0.8;
}
form span {
  color: red;
  text-align: left;
  font-weight: bold; 
  font-style: italic;
}

.linkbutton{
  font-size: 16px;
  font-weight: bold; 
  width: 100px;
}

.formgrid {
  background: url("../../images/pexels-gdtography-911738.jpg");
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 40px);
  grid-template-areas: 
    "... label1 label1 input1 input1 input1 input1 input1 error1 error1" 
    "... label2 label2 input2 input2 input2 input2 input2 error2 error2" 
    "... ...... ...... input2 input2 input2 input2 input2 ...... ......" 
    "... ...... ...... input2 input2 input2 input2 input2 ...... ......" 
    "... ...... ...... input2 input2 input2 input2 input2 ...... ......" 
    "... label3 label3 input3 input3 input3 input3 input3 error3 error3" 
    "... label4 label4 input4 input4 input4 input4 input4 error4 error4" 
    "... label5 label5 input5 input5 input5 input5 input5 error5 error5" 
    "... label6 label6 input6 input6 input6 input6 input6 error6 error6" 
    "... platfo platfo platfo platfo platfo platfo platfo ...... ......" 
    "... label7 label7 input7 input7 input7 input7 input7 error7 error7" 
    "... genres genres genres genres genres genres genres ...... ......" 
}
.label1 {
  grid-area: label1;
}
.input1 {
  grid-area: input1;
}

.label2 {
  grid-area: label2;
}
.input2 {
  grid-area: input2;
}

.label3 {
  grid-area: label3;
}
.input3 {
  grid-area: input3;
}

.label4 {
  grid-area: label4;
}
.input4 {
  grid-area: input4;
}

.label5 {
  grid-area: label5;
}
.input5 {
  grid-area: input5;
}

.label6 {
  grid-area: label6;
}
.input6 {
  grid-area: input6;
}

.label7 {
  grid-area: label7;
}
.input7 {
  grid-area: input7;
}

.error1{
  grid-area: error1;
}

.error2{
  grid-area: error2;
}

.error3{
  grid-area: error3;
}

.error4{
  grid-area: error4;
}

.error5{
  grid-area: error5;
}

.error6{
  grid-area: error6;
}

.error7{
  grid-area: error7;
}

.platform {
  grid-area: platfo;
  border: 3px solid rgba(100, 100, 100, 1);
  padding: 6px;
  border-radius: 9px;
  background-color: #f8f8f8;
  font-size: 85%;
  height: auto;
}

.genres {
  grid-area: genres;
  border: 3px solid rgba(100, 100, 100, 1);
  padding: 6px;
  border-radius: 9px;
  background-color: #f8f8f8;
  font-size: 85%;
  height: auto;
}

.divbuttons {
  background: url("../../images/pexels-gdtography-911738.jpg");
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
    "... buttn1 ... buttn2 ... buttn3 ..." ;
}
.buttn1 {
  grid-area: buttn1;
  cursor: pointer;
}

.buttn2 {
  grid-area: buttn2;
  cursor: pointer;
}

.buttn3 {
  grid-area: buttn3;
  border: 1px solid rgba(100, 100, 100, 1);
  font-size: 13.33px;
  font-family: Arial;
  padding: 6px;
  border-radius: 2px;
  background-color: #f0f0f0;
  font-size: 85%;
}
