.background {
    height: 90vh;
    background: url("./pascal-meier-6vi5hk97XGo-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    align-items: center;
    align-content: center;
    margin-bottom: 250px;
    height: 20vh;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 350%;
    color: #f9f3f4;
}

.title button {
    color: white;
    font-size: 200%;
    border: solid 2px white;
    border-radius:15px;
    background:none;
}

.title button:hover {
  cursor: pointer;
  font-size: 225%;
  transform-origin: center;
  border: solid 2px white;
};
